.body {
    max-width: 1200;
    margin: 0 auto;
}

.carousel-inner>.item>img {
    margin: 0 auto;
    max-height: 340px;
}

#myCarousel {
    max-width: 100%;
    margin: 0 auto;
}

.flower {
    margin: 0 auto;
    background-color: #696969;
}
#oc {
    color: #333333;
}
#nom {
    color: #ccccff;
}
#lvv {
    color: #ffffcc;
}
#occ {
    color : #ffffff;
}
#ffff00 {
    color: #ffff00;
}
#ffff33 {
    color: #ffff33;
}
#cc0000 {
    color: #cc0000;
}
#ff0000 {
    color: #ff0000;
}
#cc0099 {
    color: #cc0099;
}
#ff33cc {
    color: #ff33cc;
}
